.public-container {
  height: 100vh;
  font-family: 'Roboto Open-sans';
  color: rgba(255, 255, 255, 0.9);
  width: 100%;
}

.public-container .artist-photo {
  display: block;
  float: left;
  height: 100vh;
  width: 50%;
  background: black;
  margin: 0;
  position: relative;
}
.public-container a.logo {
  margin: 0;
  z-index: 100;
  position: fixed;
  top: 40px;
  left: 25px;
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  border-bottom: none;
  padding: 0;
  line-height: 30px;
}
.artist-photo-content {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
}

.artist-photo-content h2 {
  font-size: 40px;
  font-weight: 700;
}

.artist-photo-overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.artist-photo-content .follow-button {
  display: block;
  border-radius: 25px;
  width: 220px;
  height: 50px;
  background: #8872ff;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 50px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.2em;
  margin: 0 auto;
}

.artist-photo-content p {
  font-weight: 400;
  font-size: 24px;
  padding-top: 20px;
}

.artist-info h3 {
  padding-bottom: 35px;
  font-size: 24px;
  font-weight: 400;
  color: black;
  margin: 0;
}

.artist-info {
  float: left;
  display: block;
  padding: 75px 50px;
  color: black;
  width: 50%;
  height: 100vh;
  margin: 0;
}

.artist-info p {
  font-size: 20px;
  font-weight: 300;
  color: black;
  margin: 0;
  padding-bottom: 20px;
  height: 140px;
}

.social-icon {
  display: flex;
  padding-bottom: 15px;
  width: 230px;
}

.social-icon svg {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.social-icon a {
  display: inline-block;
  line-height: 30px;
  cursor: pointer;
  font-size: 18px;
  color: black;
  padding-left: 18px;
  transition: 0.3s all ease;
}

.social-icon a:hover {
  font-size: 19px;
  transition: 0.3s all ease;
}

.social-icons {
  display: flex;
  flex-wrap: wrap;
}
