body,
html,
#root {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow-x: hidden; */
  position: relative;
}
html {
  height: 100%;
  overflow: auto;
}
body {
  height: 100%;
}

div {
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}
a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: none;
}
button,
a {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 36px;
  font-weight: 400;
}
p {
  margin: 0;
  padding: 0;
  color: #757575;
  line-height: 1.44;
}
input,
textarea {
  font-family: 'Montserrat', sans-serif;
}
.ReactModal__Body--open {
  overflow-y: hidden;
}
